body {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    position:relative;
    text-align: center;
    margin-bottom: 1rem;
}


.cyberpunk-text {
    font-size: 4rem;
    position: relative;
    animation: glitch 2s infinite;
    background: linear-gradient(90deg, rgb(10, 96, 182) 20%, #0f9 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 15px #0f9;
    z-index: 2;
}
.cyberpunk-icon {
    margin-bottom: 1rem;    
}

.cyberpunk-icon img {
    width: 300px; /* Adjust the icon size as needed */
    animation: icon-flash 1s infinite;
}
.neon-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #0f9;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    z-index: 1;
    animation: neon-glow 2s infinite;
    box-sizing: border-box;
}

@keyframes glitch {
    0%, 100% {
        transform: translateY(0);
        opacity: 1;
    }
    25% {
        transform: translateY(-0.3rem);
        opacity: 0.7;
    }
    50% {
        transform: translateY(0.2rem);
        opacity: 0.8;
    }
    75% {
        transform: translateY(-0.15rem);
        opacity: 0.9;
    }
}

@keyframes neon-glow {
    0%, 100% {
        border-color: #0f9;
        box-shadow: 0 0 10px #0f9;
    }
    50% {
        border-color: #f06;
        box-shadow: 0 0 20px #f06;
    }
}
@keyframes icon-flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
